* {
    margin: 0;
    padding: 0;
}

.landing {
    height: 100vh;
    margin: 0;
}

.top-half {
    background: linear-gradient(#05101F, #0B2445);
    min-height: 90%;
    margin: 0;
    position: relative;
}

.bottom-half {
    background-color: #0B2445;
    height: 10%;
}

div.box {
    max-width: 400px;
    padding: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.box:hover div.inner-box {
}


div.box:hover div.name-line {
    background-color: #063657;
}

div.box:hover .line {
    background-color: #063657;
}

div.box:hover span.name {
    color: #2AA0DB;
}

div.inner-box {
    border: 1px solid #076987;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 60px 20px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

span.name {
    font-family: 'Rajdhani', sans-serif;
    font-size: 56px;
    color: #73FDFF;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

div.name-line {
    height: 1px;
    background-color: #0B2542;
    margin: 10px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

span.title {
    font-family: 'Rajdhani', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #076987;
}

.line {
    background-color: #0092B3;
    position: absolute;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.line-horiz {
    height: 3px;
    width: 100%;
}

.line1a, .line3a {
    transform: scaleX(1);
    animation: line1anim 5s linear 0s infinite normal;
}

.line1b, .line3b {
    transform: scaleX(0);
    animation: line1banim 5s linear 0s infinite normal;
}

.line1a, .line1b {
    top: 0;
    left: 0;
}

.line1a {
    transform-origin: 100% 0;
}

.line1b {
    transform-origin: 0 0;
}

.line3a, .line3b {
    bottom: 0;
    left: 0;
}

.line3a {
    transform-origin: 0 0;
}

.line3b {
    transform-origin: 100% 0;
}

@keyframes line1anim {
    0% {  transform: scaleX(1);}
    50% {  transform: scaleX(0);}
    100% {  transform: scaleX(0);}
}

@keyframes line1banim {
    0% {  transform: scaleX(0);}
    50% {  transform: scaleX(0);}
    100% {  transform: scaleX(1);}
}

.line-verti {
    width: 3px;
    height: 100%;
}


.line2a, .line4a {
    transform: scaleY(0);
    animation: line2anim 5s linear 0s infinite normal;
}

.line2b, .line4b {
    transform: scaleY(1);
    animation: line2banim 5s linear 0s infinite normal;
}

.line2a, .line2b {
    top: 0;
    right: 0;
}

.line2a {
    transform-origin: 0% 0;
}

.line2b {
    transform-origin: 0 100%;
}

.line4a, .line4b {
    top: 0;
    left: 0;
}

.line4a {
    transform-origin: 0 100%;
}

.line4b {
    transform-origin: 0 0;
}

@keyframes line2anim {
    0% {  transform: scaleY(0);visibility:visible;}
    50% {  transform: scaleY(1);visibility:hidden;}
    100% {  transform: scaleY(0); visibility:hidden;}
}

@keyframes line2banim {
    0% {  transform: scaleY(1);visibility:hidden;}
    50% {  transform: scaleY(1);visibility:hidden;}
    100% {  transform: scaleY(0);visibility:visible;}
}

.bottom-half {
    text-align: center;
}

.fa-angle-down {
    color: #FFF;
    transform: translateY(0);
    transition: transform .25s;
    cursor: pointer;
}

.fa-angle-down:hover {
    transform: translateY(-10%);

    animation: downarrow .5s linear .25s infinite alternate;
}

@keyframes downarrow {
    from { transform: translateY(-10%);}
    to { transform: translateY(10%);}
}

.about {
    min-height: 50vh;
    background-color: #C7DBF0;
    padding: 30px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.about-container {
    width: 80%;
    margin: 30px auto;
}

.column1 {
    float: left;
    display: inline-block;
    width: 22%;
    min-height: 350px;
}

.column2 {
    display: inline-block;
    width: 75%;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h2 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 3em;
}

p {
    font-family: 'PT Serif', serif;
    margin: 1em 0;
    line-height: 1.6em;
    font-size: 14pt;
}


.column1 img {
    width: 120px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin: 0 auto 30px;
    display: block;
}

.find-me {
    background-color: #C7DBF0;
    height: 100%;
    width: 100%;
    text-align: center;
}

.column2 h2 {
    color: #114273;
    font-weight: 400;
    font-size: 3.5em;
}

.column2 p, .column1 .fa {
    color: #0B2445;
    transition: color .5s;
}

.column1 .fa:hover {
    color: #2AA0DB;

}

.projects {
    background-color: #E0F2FF;
    min-height: 50vh;
}