* {
    margin: 0;
    padding: 0;
}

.landing {
    height: 100vh;
    margin: 0;
    background-image: url('landingbackground.png');
    background-color: #05101F;
    background-attachment: fixed;
    position: relative;
}

.top-half {
    min-height: 90%;
    margin: 0;
}
div.box {
    width: 400px;
    padding: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.box:hover div.inner-box {
}


div.box:hover div.name-line {
    background-color: #063657;
}

div.box:hover .line {
    background-color: #063657;
}

div.box:hover span.name {
    color: #2AA0DB;
}

div.inner-box {
    border: 1px solid #076987;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 60px 20px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    background-color: rgba(5,16,31,.7);
}

span.name {
    font-family: 'Rajdhani', sans-serif;
    font-size: 56px;
    color: #73FDFF;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

div.name-line {
    height: 1px;
    background-color: #0B2542;
    margin: 10px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

span.title {
    font-family: 'Rajdhani', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #076987;
}

.line {
    background-color: #0092B3;
    position: absolute;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.line-horiz {
    height: 3px;
    width: 100%;
}

.line1a, .line3a {
    transform: scaleX(1);
    animation: line1anim 5s linear 0s infinite normal;
}

.line1b, .line3b {
    transform: scaleX(0);
    animation: line1banim 5s linear 0s infinite normal;
}

.line1a, .line1b {
    top: 0;
    left: 0;
}

.line1a {
    transform-origin: 100% 0;
}

.line1b {
    transform-origin: 0 0;
}

.line3a, .line3b {
    bottom: 0;
    left: 0;
}

.line3a {
    transform-origin: 0 0;
}

.line3b {
    transform-origin: 100% 0;
}

@keyframes line1anim {
    0% {  transform: scaleX(1);}
    50% {  transform: scaleX(0);}
    100% {  transform: scaleX(0);}
}

@keyframes line1banim {
    0% {  transform: scaleX(0);}
    50% {  transform: scaleX(0);}
    100% {  transform: scaleX(1);}
}

.line-verti {
    width: 3px;
    height: 100%;
}


.line2a, .line4a {
    transform: scaleY(0);
    animation: line2anim 5s linear 0s infinite normal;
}

.line2b, .line4b {
    transform: scaleY(1);
    animation: line2banim 5s linear 0s infinite normal;
}

.line2a, .line2b {
    top: 0;
    right: 0;
}

.line2a {
    transform-origin: 0% 0;
}

.line2b {
    transform-origin: 0 100%;
}

.line4a, .line4b {
    top: 0;
    left: 0;
}

.line4a {
    transform-origin: 0 100%;
}

.line4b {
    transform-origin: 0 0;
}

@keyframes line2anim {
    0% {  transform: scaleY(0);visibility:visible;}
    50% {  transform: scaleY(1);visibility:hidden;}
    100% {  transform: scaleY(0); visibility:hidden;}
}

@keyframes line2banim {
    0% {  transform: scaleY(1);visibility:hidden;}
    50% {  transform: scaleY(1);visibility:hidden;}
    100% {  transform: scaleY(0);visibility:visible;}
}

.bottom-half {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fa-angle-down, .fa-angle-up {
    color: #FFF;
    transform: translateY(0);
    transition: transform .25s;
    cursor: pointer;
}

.fa-angle-down:hover, .fa-angle-up:hover {
    transform: translateY(-10%);

    animation: downarrow .5s linear .25s infinite alternate;
}

@keyframes downarrow {
    from { transform: translateY(-10%);}
    to { transform: translateY(10%);}
}

.about .fa-angle-down {
    color: #0B2445;
}

.about {
    background-color: #C7DBF0;
    padding: 30px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;

}

.about-container, .projects-container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
}



h2 {
    font-family: 'Rajdhani', sans-serif;
    color: #114273;
    font-weight: 400;
    font-size: 56px;
    line-height: 1em;
    border-bottom: 2px solid #91BFE6;
}

p {
    font-family: 'PT Serif', serif;
    margin: 1em 0;
    line-height: 1.8em;
    font-size: 1.2em;
}


.find-me {
    background-color: #C7DBF0;
    width: 100%;
}

#email, #twitter, #linkedin {
    display: inline-block;
    background-color: #0B2445;
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 7px;
    transition: background-color .5s;
    margin-right: 10px;
}

#email:hover, #twitter:hover, #linkedin:hover {
    background-color: #C7DBF0;
}

.about-container p, .about-container .fa {
    color: #0B2445;
    transition: color .5s;
}

.about-container .fa {
    position: absolute;
    top: -3px;
    left: 0;
    color: #C7DBF0;
}

.about-container .fa:hover {
    color: #2AA0DB;
}

.projects {
    background: #05101F ;
    min-height: 100vh;
    padding: 30px 0 ;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}


.projects-container h2 {
    color: #2AA0DB;
    border-bottom-color: #031c34;
    margin-bottom: 1em;
}

.project-big, .project-small {
    display: inline-block;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.project-big {
    width: 64%;
}

.project-small {
    width: 32%;
}

.project-big img, .project-small img {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#05101F;
    opacity: 0;
    transition: opacity .5s;
}

.project-big:hover .overlay, .project-small:hover .overlay {
    opacity: .9;
}

.description {
    height: 60px;
    position: absolute;
    opacity: 0;
    top: 30px;
    left: -100px;
    transition: all .5s;
    z-index: 3;
    padding-right: 30px;
}

.description h3 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #2AA0DB;
}

.description p {
    margin: 0 0 1em;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.7em;
    color: #B2DFED;
}

.project-big:hover .description, .project-small:hover .description {
    left: 30px;
    opacity: 1;
}

@media screen and (max-width: 767px) {

    .project-big, .project-small {
        width: 100%;

    }
    .project-big img {
        width: 150%;
        position: relative;
        left: -25%;
    }

    .project-small img {
        height: 70%;
    }

}